@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --ui-color-neutral-50: oklch(0.985 0 0);
  --ui-color-neutral-100: oklch(0.97 0 0);
  --ui-color-neutral-200: oklch(0.922 0 0);
  --ui-color-neutral-300: oklch(0.87 0 0);
  --ui-color-neutral-400: oklch(0.708 0 0);
  --ui-color-neutral-500: oklch(0.556 0 0);
  --ui-color-neutral-600: oklch(0.439 0 0);
  --ui-color-neutral-700: oklch(0.371 0 0);
  --ui-color-neutral-800: oklch(0.269 0 0);
  --ui-color-neutral-900: oklch(0.205 0 0);
  --ui-color-neutral-950: oklch(0.145 0 0);

  --ui-color-primary-50: oklch(0.984 0.014 180.72);
  --ui-color-primary-100: oklch(0.953 0.051 180.801);
  --ui-color-primary-200: oklch(0.91 0.096 180.426);
  --ui-color-primary-300: oklch(0.855 0.138 181.071);
  --ui-color-primary-400: oklch(0.777 0.152 181.912);
  --ui-color-primary-500: oklch(0.704 0.14 182.503);
  --ui-color-primary-600: oklch(0.6 0.118 184.704);
  --ui-color-primary-700: oklch(0.511 0.096 186.391);
  --ui-color-primary-800: oklch(0.437 0.078 188.216);
  --ui-color-primary-900: oklch(0.386 0.063 188.416);
  --ui-color-primary-950: oklch(0.277 0.046 192.524);
}

:root {
  --ui-container: var(--container-3xl);
}
